<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer-bootstrap/polymer-bootstrap.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<style include="polymer-bootstrap"></style>
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="my-view404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <div class="container">
      <div class="row" hidden$={{logado}}>
            <h1>Ingreso a la app</h1>
            Email: <input type="email" placeholder="<tu_usuario>@bbva.com" value="{{email::input}}">
            Password: <input type="password" placeholder="digite password" value="{{password::input}}">
            <button on-click="login" class="btn btn-success">Ingresar</button>
      </div>
    </div>

    <iron-ajax
        id="doLogin"
        url="http://localhost:3000/v2/Login"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError"></iron-ajax>
    </template>



  <script>
    class MyView404 extends Polymer.Element {
      static get is() { return 'my-view404'; }
      static get properties() {
        return {
          email: {
                    type: String
                },
          password: {
                  type: String
                },
          logado: {
                  type: Boolean,
                  value: false
          },
          rootPath: {type: String}
        };
      }


    login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(this.email + " " +this.password);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        alert('Peticion enviada por iron-ajax');
        console.log('Peticion enviada por iron-ajax');

      }

      manageAJAXResponse(data){
      alert('Usuario Loggeado');

      console.log("Respuesta recibida del servidor");
      this.logado = true;
      }

      showError(error){
        console.log('Hubo un error en la peticion' + error);
        alert("Los datos ingresados son incorrectos/El usuario no existe, registrese");
      }
}

    window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
