<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer-bootstrap/polymer-bootstrap.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<style include="polymer-bootstrap"></style>

<dom-module id="my-view5">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table, th, td {
        border: 2px solid black;
      }
    </style>

    <div class="card">
      <div class="row"></div>
      <h1 class="col-lg-12">Eliminar CLIENTE</h1>
      <input type="text" placeholder="Ingrese el No. De Cliente" value="{{prop1::input}}"/>
      <button on-click="eliminarCliente">BorrarCliente</button>
      <button onclick="javascript:window.location.reload();">Limpiar</button>
    </div>
 </template>


  <script>
    class MyView5 extends Polymer.Element {
    static get is() { return 'my-view5'; }

    static get properties() {
            return {
              prop1: {
                type: Number,
              },
              clientesMov:{
                type: Array,
                notify: true
              },
              cuentasMov:{
                type: Array,
                notify: true
              },
           };
   }

   eliminarCliente(){
        var request = new XMLHttpRequest();
        var urlB = "http://localhost:3000/Cuentas/"+this.prop1
        request.open("GET",urlB, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        alert('despues de send');
        this.clientesMov = JSON.parse(request.responseText);
        var idcliente=this.clientesMov[0]._id.$oid;
        alert(idcliente);
        var request = new XMLHttpRequest();
        var urlB = "http://localhost:3000/borrarElemento/"+idcliente;
        alert(urlB);
        request.open("GET",urlB, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        alert('Registro Borrado');
     }
}
    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
