<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table, th, td {
        border: 2px solid black;
    }
    </style>

    <div class="card">
          <div class="circle">IM</div>
        <div class="container">
          <div class="row" id="tablaU">
         <h1 class="col-lg-12">MOSTRAR CLIENTES</h1>
         <div>
         <button class="btn btn-success" on-click="obtenerClientes">Obtener</button>
         <button on-click="javascript:window.location.reload();">Limpiar</button>
       </div>
       <div>

       </div>
         <table>
           <thead>
             <tr>
               <th>
                 Cliente
               </th>
               <th>
                 Nombre
               </th>
               <th>
                 Apellido
               </th>
               <th>
                 Correo
               </th>
             </tr>
           </thead>
           <tbody>
             <template is = "dom-repeat" items="{{clientes}}">
            <tr>
             <td>
               [[item.cliente]]
             </td>
             <td>
               [[item.nombre]]
             </td>
             <td>
               [[item.apellido]]
             </td>
             <td>
               [[item.email]]
             </td>
            </tr>
             </template>
           </tbody>
         </table>
              </div>

            </div>
          </div>
        </div>

  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
         clientes: {
           type:Array,
           notify:true
         }
       };
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
