<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer-bootstrap/polymer-bootstrap.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<style include="polymer-bootstrap"></style>

<dom-module id="my-view3">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="row">
     <h1 class="col-lg-12">Agregar Usuario</h1>
     <div class="panel panel-primary">
       <label type="text" class="col-md-4" placeholder="Ingrese el Usuario" value="{{prop3::input}}"/>
       <input type="text" class="col-md-4" placeholder="Ingrese el Nombre" value="{{prop4::input}}"/>
       <input type="text" class="col-md-4" placeholder="Ingrese el Apellido" value="{{prop5::input}}"/>
     </div>
     <div class="panel panel-primary">
     <label for="exampleInputEmail1">Email address</label>
     <input type="email" class="form-control" placeholder="<tu_usuario>@bbva.com" value="{{prop6::input}}" required/>
     <label for="exampleInputPassword1">Password</label>
     <input type="password" class="form-control"  placeholder="Ingrese nuevo Password" value="{{prop7::input}}"/>
     </div>
     <div>
       <button type="submit" class="btn btn-success" on-click="anadirUsuario">Agregar Usuario</button>
       <button onclick="javascript:window.location.reload();">Limpiar</button>
     </div>
    </div>

    </div>

    <iron-ajax
        id="doInsert"
        url="http://localhost:3000/view3"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError"></iron-ajax>
    </template>


  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
         prop3: {
           type: Number
           //value: 'mi-visor'
         },
         prop4: {
           type: String
           //value: 'mi-visor'
         },
         prop5: {
           type: String
           //value: 'mi-visor'
         },
         prop6: {
           type: String
           //value: 'mi-visor'
         },
         prop7: {
           type: String
           //value: 'mi-visor'
         }
        };
      }

    anadirUsuario(){
        var insertData = {
                  "prop3":this.prop3,
                  "prop4":this.prop4,
                  "prop5":this.prop5,
                  "prop6":this.prop6,
                  "prop7":this.prop7
                };
        console.log(this.prop3 + " " + this.prop4 + " " + this.prop5 + " " + this.prop6 + " " + this.prop7);
        this.$.doInsert.body = JSON.stringify(insertData);
        this.$.doInsert.generateRequest();
           }

        manageAJAXResponse(data){
           alert('El usuario se ha dado de alta de forma exitosa');
           console.log("Respuesta recibida del servidor");
        }

           showError(error){
             console.log('Hubo un error en la peticion' + error);
             alert("No se diò de alta el usuario");
           }

    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
