<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer-bootstrap/polymer-bootstrap.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<style include="polymer-bootstrap"></style>

<dom-module id="my-view2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table, th, td {
        border: 2px solid black;
      }
    </style>

    <div class="card">
      <h1 class="col-lg-12">MOVIMIENTOS POR CLIENTE</h1>
      <input type="text" placeholder="Ingrese el No. De Cliente" value="{{prop1::input}}"/>
      <button on-click="obtenerCliente">BuscarMovimientos</button>
      <button onclick="javascript:window.location.reload();">Limpiar</button>
      <h1 class="col-sm-4">Datos del cliente</h1>
      <div class="row">
      Nombre del cliente<input type="text" size="10" readonly="readonly" value="{{nombre}}"/>
      Apellido<input type="text" size="10" readonly="readonly" value="{{apellido}}"/>
      No. de cuenta<input type="text" size="10" readonly="readonly" value="{{idcuenta}}"/>
      </div>

    <table class="table table-striped">
     <thead>
       <tr>
         <th>
           No. de Movimiento
         </th>
         <th>
           Fecha Mov
         </th>
         <th>
           Importe
         </th>
         <th>
           Tipo de Movimiento
         </th>
       </tr>
     </thead>

     <tbody>
       <template is = "dom-repeat" items="{{movimientos}}">
      <tr>
        <td>
         [[item.Id]]
        </td>
       <td>
         [[item.fecha]]
       </td>
       <td>
         [[item.importe]]
       </td>
       <td>
         [[item.categoria]]
       </td>
      </tr>
       </template>
     </tbody>
   </table>
   </div>

  <iron-ajax
  id="doSearch"
  url="http://localhost:3000/view2"
  content-type="application/json"
  crossDomain: true
  dataType: 'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError"></iron-ajax>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
    static get is() { return 'my-view2'; }

    static get properties() {
            return {
              prop1:{
                type: Number
              },
              clientesMov:{
                type: Array,
                notify: true
              },
              cuentasMov:{
                type: Array,
                notify: true
              },
              movimientos:{
                type: Array,
                notify: true
              },
              nombre:{
                type: Array,
                notify: true
              },
              apellido:{
                type: Array,
                notify: true
              },
              idcuenta:{
                type: Array,
                notify: true
              },
              oid:{
                type: Array,
                notify: true
              },
           };
   }

    obtenerCliente (){
      var searchData = {
          "prop1":this.prop1
        };
      this.$.doSearch.body = JSON.stringify(searchData);
      this.$.doSearch.generateRequest();
      alert('Peticion enviada por iron-ajax');
      console.log('Peticion enviada por iron-ajax')
    }

    manageAJAXResponse(body,request){
      alert('Respuesta recibida del servidor');
      var response = request.response;
      this.cuentasMov = JSON.stringify(response);
      var newStr = this.cuentasMov.substring(1, this.cuentasMov.length-1);
      this.clientesMov =JSON.parse(newStr);
      this.movimientos=this.clientesMov.movimientos;
      this.nombre=this.clientesMov.nombre;
      this.apellido=this.clientesMov.apellido;
      this.idcuenta=this.clientesMov.idcuenta;
      this.oid=this.clientesMov._id.$oid;
      console.log(this.oid);
      console.log('Respuesta recibida del servidor');
    }

    showError(error){
       console.log('Hubo un error en la peticion' + error);
       alert("No se encontraron datos");
    }

}
    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
